{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "ignorePatterns": ["**/*.ts"],
  "extends": ["standard-with-typescript", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "overrides": []
}
